body {
	font-family: Roboto, "Helvetica Neue", sans-serif;
	background: linear-gradient(90deg, #e22828, #ff8c2f);
	min-height: 100vh;
}

.v-application__wrap {
	color: white;
}

.material-icons {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: "liga";
}
